<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="order-body">
  
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>